<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Home - Alpha Info Tech</title>
  <meta name="description" content="">
  <meta name="keywords" content="">




  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/vendor/aos/aos.css}" rel="stylesheet}">
  <link th:href="@{/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

  <!-- Main CSS File -->
  <link th:href="@{/css/main.css}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: OnePage
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Alpha Info Tech</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home<br></a></li>
          <li><a href="#portfolio-details">About</a></li>
          <li><a href="#services">Services</a></li>             
          <li><a href="#footer">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>



    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <img th:src="@{/img/hero-bg-abstract.jpg}" alt="" data-aos="fade-in" class="">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-out">
          <div class="col-xl-8 col-lg-10 text-center">
            <h1>Enterprise Ready AI Powered ChatBot Service</h1>
            <b>Empowering Business Workflows into AI-powered ChatBots</b><br></br>
			<h3><b>WhatsApp | Instagram DM | SMS | Telegram</b></h3>
	
          			
          </div>
        </div>
        <div class="text-center" data-aos="zoom-out" data-aos-delay="100">

          <div class="row gy-4 mt-5">
            <div class="col-md-6 col-lg-3" data-aos="zoom-out" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-body-text"></i></div>
                <h4 class="title"><a href="">Dynamic Question based Messages/Query about Product</a></h4>
                <p class="description">To Provide replies to common questions about products for any number of concurent Customers.Saving your time for Replying Common Questions</p>
              </div>
            </div><!--End Icon Box -->

            <div class="col-md-6 col-lg-3" data-aos="zoom-out" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-chat-square-quote"></i></div>
                <h4 class="title"><a href="">AI Agent live Support ChatBots</a></h4>
                <p class="description">Seamless, instant communication between users and AI-powered agents, offering immediate support and personalized responses.</p>
              </div>
            </div><!--End Icon Box -->

            <div class="col-md-6 col-lg-3" data-aos="zoom-out" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-check2-all"></i></div>
                <h4 class="title"><a href="">AI Powered User Workflows</a></h4>
                <p class="description">The process of using AI-powered ChatBots to streamline tasks and activities within an organization. Use ChatBots for Customer Onbording instead of Data Entry Forms</p>
              </div>
            </div><!--End Icon Box -->

            <div class="col-md-6 col-lg-3" data-aos="zoom-out" data-aos-delay="400">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-stack-overflow"></i></div>
                <h4 class="title"><a href="">AI InApp Communication</a></h4>
                <p class="description">To send automated, context-specific notifications or updates, such as order confirmations or payment receipts, enhancing user experience and operational efficiency.</p>
              </div>
            </div><!--End Icon Box -->

          </div>

          <div class="row gy-4 mt-5">
            <div class="col-md-6 col-lg-3" data-aos="zoom-out" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-chat-left-text"></i></div>
                <h4 class="title"><a href="">AI Documentation</a></h4>
                <p class="description">To create documentation on basis of ChatBot intraction with you.</p>
              </div>
            </div><!--End Icon Box -->

            <div class="col-md-6 col-lg-3" data-aos="zoom-out" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-translate"></i></div>
                <h4 class="title"><a href="">Multilingual support</a></h4>
                <p class="description">Communicate with users in multiple languages, providing a seamless experience for a global audience.</p>
              </div>
            </div><!--End Icon Box -->

            <div class="col-md-6 col-lg-3" data-aos="zoom-out" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-bar-chart"></i></div>
                <h4 class="title"><a href="">AI ChatBot Analytics</a></h4>
                <p class="description">Provides insights into chatbot performance by tracking user interactions, identifying trends, and measuring engagement, helping optimize and improve customer service strategies</p>
              </div>
            </div><!--End Icon Box -->

            <div class="col-md-6 col-lg-3" data-aos="zoom-out" data-aos-delay="400">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-code-slash"></i></div>
                <h4 class="title"><a href="">AI ChatBot CoPilot</a></h4>
                <p class="description">It also suggests the relevant actions and product tours for the user query, along with the step-by-step answer! and learns from interactions, and provide intelligent, context-aware responses for more personalized user experiences.</p>
              </div>
            </div><!--End Icon Box -->

          </div>
		
		     
		
		
      </div>

    </section><!-- /Hero Section -->
	  <!-- Features Section -->
    <section id="features" class="features section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Features</h2>
        <b>Leverage Our AI-powered ChatBot Features<br></b>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-5">

          <div class="col-xl-6" data-aos="zoom-out" data-aos-delay="100">
            <img th:src="@{/img/features.png}" class="img-fluid" alt="">
          </div>

          <div class="col-xl-6 d-flex">
            <div class="row align-self-center gy-4">

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Skip Expensive ChatBot Frameworks</h3>
                </div>
              </div><!-- End Feature Item -->

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>AI ChatBots Tailored to Your Application</h3>
                </div>
              </div><!-- End Feature Item -->


              <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>On-premises Deployment,Less Cloud Cost</h3>
                </div>
              </div><!-- End Feature Item -->

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Bussiness Workflows into AI ChatBots</h3>
                </div>
              </div><!-- End Feature Item -->

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="600">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Fully Customizable ChatBots</h3>
                </div>
              </div><!-- End Feature Item -->

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="700">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>ChatBots Works on Your Applicationpp Data</h3>
                </div>
              </div><!-- End Feature Item -->
			  
			   <div class="col-md-6" data-aos="fade-up" data-aos-delay="700">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>24x7 Priority Support</h3>
                </div>
              </div><!-- End Feature Item -->
			  
			   <div class="col-md-6" data-aos="fade-up" data-aos-delay="700">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Messaging and ChatBot Analytics</h3>
                </div>
              </div><!-- End Feature Item -->

            </div>
          </div>

        </div>

      </div>

    </section><!-- /Features Section -->
	
	
	 <!-- Alt Features Section -->

	
	<section id="portfolio-details" class="portfolio-details section">
	<div class="container">
	    <div class="row justify-content-between gy-4 mt-4">

          <div class="col-lg-8" data-aos="fade-up">
            <div class="portfolio-description">
              <h2>Conversation as a Service (CaaS) for Java Stack  Aplications.</h2>
              <p>
                CaaS is not just a trend, it’s becoming essential for businesses that want to stay efficient and meet growing customer expectations.Businesses are adopting conversation as a service because it addresses some of the biggest challenges in customer communication. It scales easily, allowing companies to handle thousands of messages at once without hiring more staff.
				 Customers don’t have to wait for business hours to get help or visiting website, which leads to faster responses and higher satisfaction.
				 This isn’t just about answering customer questions. CaaS about building better relationships through meaningful, efficient conversations. The technology behind it helps businesses stay responsive, consistent, and scalable, all while keeping costs under control.
              </p>
			  <p>At <b>Alpha Info Tech</b>, we specialize in</p>
			    <div class="col-lg-12 content" data-aos="fade-up" data-aos-delay="100">
            <ul>
              <li><i class="bi bi-check2-circle"></i> <span>Custom Chatbot Design and Development for Java Stack (Spring Boot)</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>Integration with Various Platforms and your Application: Facebook, WhatsApp, Instagram.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>Consultations ,Support and Maintenance for ChatBots</span></li>
            </ul>
          </div>
              <p>
                And helping businesses implement the latest communication technologies. Our team can guide you through selecting the right tools, integrating them with your existing systems, and maximizing the value of conversation as a service for your organization.
              </p>


            

            </div>
          </div>

          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <div class="portfolio-info">
              <h3>Specilizes In</h3>
              <ul>
                <li><strong>Platform's</strong> WhatsApp,Instagram DM,SMS,Telegram</li>
                <li><strong>Language</strong>Spring AI,Langchain4J,Spring Boot</li>
                <li><strong>Tools</strong>VPS,Docker,Kubernetes ,Microservices </li>
                <!-- <li><strong>Project URL</strong> <a href="#">www.example.com</a></li> -->
               <!-- <li><a href="#" class="btn-visit align-self-start">Visit Website</a></li>-->
              </ul>
            </div>
          </div>

        </div>
		</div>
		</section>
	

   

  



    <!-- Services Section -->
    <section id="services" class="services section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>ChatBot's use cases we offer</h2>       
      </div><!-- -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item item-cyan position-relative">
            <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                </svg>
                <i class="bi bi-alexa"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Scheduling & Appoinments</h3>
              </a>
			 
			  <ul>
			  <li><i class="bi bi-check2-circle"></i> <span>Booking of Doctors,Car,Hotel,etc</span></li>
			  <li><i class="bi bi-check2-circle"></i> <span>Queries about Availability</span></li>
			  <li><i class="bi bi-check2-circle"></i> <span>Booking Remainders</span></li>
			  <li><i class="bi bi-check2-circle"></i> <span>Manage Service/Repair Request</span></li>
			 
			  </ul>
			 
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item item-orange position-relative">
           <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
                </svg>
              <i class="bi bi-book"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Learning & Development</h3>
              </a>
			  <div>
			  
			  <ul>
			  <li><i class="bi bi-check2-circle"></i> <span>Personalized AI Tutor</span></li>
			  <li><i class="bi bi-check2-circle"></i> <span>Teacher Assistance</span></li>
			  <li><i class="bi bi-check2-circle"></i> <span>School Workflow Automation</span></li>
			  </ul>			  
		
			   </div>
			  
             <!--  <p>The Learning & Development WhatsApp ChatBot offers customers instant access to training resources and personalized learning paths through a convenient messaging platform. It provides tailored support, helping users track their progress and stay motivated. This easy, on-demand learning experience enhances customer satisfaction by making skill development accessible and engaging</p> -->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item item-teal position-relative">
             <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                </svg>
               <i class="bi bi-luggage"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Travel & Transportation</h3>
              </a>
			   <div>
			   
			   <ul>
			  <li><i class="bi bi-check2-circle"></i> <span>Booking's/Reservation</span></li>
			  <li><i class="bi bi-check2-circle"></i> <span>Complaints and Feedback</span></li>
			  <li><i class="bi bi-check2-circle"></i> <span>Assistance during Stay/Travel</span></li>
			  <li><i class="bi bi-check2-circle"></i> <span>Check-in Bot</span></li>
			  </ul>			  

			   </div>
			  
             <!-- <p>A Travel & Transportation WhatsApp ChatBot enhances customer satisfaction by offering instant, round-the-clock assistance with bookings, cancellations, and travel inquiries, reducing wait times and improving convenience. It provides personalized travel recommendations and real-time updates on schedules, ensuring a seamless travel experience. The chatbot also gathers customer feedback to continually enhance services and meet traveler needs efficiently.</p>-->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item item-red position-relative">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,503.46388370962813C374.79870501325706,506.71871716319447,464.8034551963731,527.1746412648533,510.4981551193396,467.86667711651364C555.9287308511215,408.9015244558933,512.6030010748507,327.5744911775523,490.211057578863,256.5855673507754C471.097692560561,195.9906835881958,447.69079081568157,138.11976852964426,395.19560036434837,102.3242989838813C329.3053358748298,57.3949838291264,248.02791733380457,8.279543830951368,175.87071277845988,42.242879143198664C103.41431057327972,76.34704239035025,93.79494320519305,170.9812938413882,81.28167332365135,250.07896920659033C70.17666984294237,320.27484674793965,64.84698225790005,396.69656628748305,111.28512138212992,450.4950937839243C156.20124167950087,502.5303643271138,231.32542653798444,500.4755392045468,300,503.46388370962813"></path>
                </svg>
               <i class="bi bi-rss"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>E-Commerce</h3>
              </a>
			  
			    <ul>
			  <li><i class="bi bi-check2-circle"></i> <span>Answers to Query's</span></li>
			  <li><i class="bi bi-check2-circle"></i> <span>Resolution to a Complaints</span></li>
			  <li><i class="bi bi-check2-circle"></i> <span>Product Showcasing</span></li>
			  <li><i class="bi bi-check2-circle"></i> <span>Simple Checkout Process</span></li>
			  </ul>	
			  
            <!--  <p>A Survey & Feedback Collection WhatsApp ChatBot ensures customer satisfaction by providing an easy and convenient platform for sharing opinions and experiences, leading to faster responses and improvements. It enables real-time interaction, making customers feel heard and valued. The chatbot also helps in quickly addressing concerns and implementing changes based on feedback, resulting in a more personalized and responsive service.</p> -->
              
            </div>
          </div><!-- End Service Item -->

        

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item item-pink position-relative">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,566.797414625762C385.7384707136149,576.1784315230908,478.7894351017131,552.8928747891023,531.9192734346935,484.94944893311C584.6109503024035,417.5663521118492,582.489472248146,322.67544863468447,553.9536738515405,242.03673114598146C529.1557734026468,171.96086150256528,465.24506316201064,127.66468636344209,395.9583748389544,100.7403814666027C334.2173773831606,76.7482773500951,269.4350130405921,84.62216499799875,207.1952322260088,107.2889140133804C132.92018162631612,134.33871894543012,41.79353780512637,160.00259165414826,22.644507872594943,236.69541883565114C3.319112789854554,314.0945973066697,72.72355303640163,379.243833228382,124.04198916343866,440.3218312028393C172.9286146004772,498.5055451809895,224.45579914871206,558.5317968840102,300,566.797414625762"></path>
                </svg>
                <i class="bi bi-chat-square-text"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>E-Government</h3>
              </a>
			  
			     <ul>
			  <li><i class="bi bi-check2-circle"></i> <span>Address Citizen Inquiries</span></li>
			  <li><i class="bi bi-check2-circle"></i> <span>Registration for Schemes</span></li>
			  <li><i class="bi bi-check2-circle"></i> <span>Information about Schemes</span></li>
			   <li><i class="bi bi-check2-circle"></i> <span>Staff Support</span></li>
			  </ul>	
            <!--  <p>An Information Collection ChatBot ensures more accurate results by efficiently capturing and organizing data, reducing the risk of human errors. It allows for standardized responses, ensuring consistency in information gathering. Additionally, it enables swift and seamless data analysis, providing valuable insights and high-quality information for better decision-making..</p> -->
             
            </div>
          </div><!-- End Service Item -->
		  
		  
		  
		    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item item-indigo position-relative">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,532.3542879108572C369.38199826031484,532.3153073249985,429.10787420159085,491.63046689027357,474.5244479745417,439.17860296908856C522.8885846962883,383.3225815378663,569.1668002868075,314.3205725914397,550.7432151929288,242.7694973846089C532.6665558377875,172.5657663291529,456.2379748765914,142.6223662098291,390.3689995646985,112.34683881706744C326.66090330228417,83.06452184765237,258.84405631176094,53.51806209861945,193.32584062364296,78.48882559362697C121.61183558270385,105.82097193414197,62.805066853699245,167.19869350419734,48.57481801355237,242.6138429142374C34.843463184063346,315.3850353017275,76.69343916112496,383.4422959591041,125.22947124332185,439.3748458443577C170.7312796277747,491.8107796887764,230.57421082200815,532.3932930995766,300,532.3542879108572"></path>
                </svg>
                <i class="bi bi-patch-question"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Other UseCases</h3>
              </a>
			  <ul>		
			  <li><i class="bi bi-check2-circle"></i> <span>Fetch My Records/Certificates </span></li>
			  <li><i class="bi bi-check2-circle"></i> <span>Membership/Application Booking</span></li>
			  <li><i class="bi bi-check2-circle"></i> <span>KYC Process</span></li>
			  <li><i class="bi bi-check2-circle"></i> <span>Event Enquiry</span></li>  	  
			
			  </ul>	
             <!--  <p>A Customer Service & Support ChatBot boosts customer satisfaction by delivering prompt, 24/7 assistance, resolving issues quickly and efficiently. It minimizes company expenditure by reducing the need for large customer service teams and cutting down on response times. Additionally, it helps streamline operations by handling repetitive queries, freeing up human agents for more complex tasks..</p> -->
            
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

    <section id="alt-features" class="alt-features section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Why to Leverage Meta's WhatsApp for your Business?</h2>
        <b>Connect With 2 Billion+ People on WhatsApp	</b>

      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-5">

          <div class="col-xl-7 d-flex order-2 order-xl-1" data-aos="fade-up" data-aos-delay="200">

            <div class="row align-self-center gy-5">

              <div class="col-md-6 icon-box">
                <i class="bi bi-motherboard"></i>
                <div>
                  <h4>Best in Features of WhatsApp</h4>

                </div>
              </div><!-- End Feature Item -->

              <div class="col-md-6 icon-box">
                <i class="bi bi-infinity"></i>
                <div>
                  <h4>Utilising A Large User-base of WhatsApp</h4>

                </div>
              </div><!-- End Feature Item -->

              <div class="col-md-6 icon-box">
                <i class="bi bi-globe-central-south-asia"></i>
                <div>
                  <h4>Available all over the world.</h4>

                </div>
              </div><!-- End Feature Item -->

              <div class="col-md-6 icon-box">
                <i class="bi bi-reply-all"></i>
                <div>
                  <h4>Say what you feel words,stickers,GIFs, voice</h4>

                </div>
              </div><!-- End Feature Item -->

              <div class="col-md-6 icon-box">
                <i class="bi bi-person-heart"></i>
                <div>
                  <h4>Build long-lasting customer relationships</h4>

                </div>
              </div><!-- End Feature Item -->

              <div class="col-md-6 icon-box">
                <i class="bi bi-person-add"></i>
                <div>
                  <h4>Meet customers where they already are</h4>

                </div>
              </div><!-- End Feature Item -->



            </div>

          </div>

          <div class="col-xl-5 d-flex align-items-center order-1 order-xl-2" data-aos="fade-up" data-aos-delay="100">
            <img th:src="@{/img/alt-features.png}" class="img-fluid" alt="">
          </div>

        </div>

      </div>

    </section><!-- /Alt Features Section -->
 

  

  

  

   

  </main>

  <footer id="footer" class="footer light-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">Alpha Info Tech</span>
          </a>
          <p>We Provide AI ChatBot solutions for enterprises, adaptable to any industry, tech stack, and scale worldwide!.And makes businesses to make use of AI and CaaS.</p>
          <div class="social-links d-flex mt-4">
         <!--   <a href=""><i class="bi bi-twitter-x"></i></a>-->
           <!-- <a href=""><i class="bi bi-facebook"></i></a>-->
           <!-- <a href=""><i class="bi bi-instagram"></i></a>-->
           <!-- <a href=""><i class="bi bi-linkedin"></i></a>-->
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>            
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Application Development</a></li>
            <li><a href="#">ChatBot Development</a></li>           
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>		 
          <p>KARTHICK RAVI</p>
          <p>5/828/3 N C COLONY</p>
          <p>GSTN : 33DHOPR2595K1ZL</p>
          <p>Ellandaikuttai, Tamil Nadu 638008</p>
          <p class="mt-4"><strong>Phone:</strong> <span>+9994602030</span></p>
          <p><strong>Email:</strong> <span>karthickjava1997@gmail.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Alpha Info Tech</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <script type="text/javascript" th:src="@{/js/functions.js}"></script>

  <!-- Vendor JS Files -->
  <script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script type="text/javascript" th:src="@{/vendor/php-email-form/validate.js}"></script>
  <script type="text/javascript" th:src="@{/vendor/aos/aos.js}"></script>
  <script type="text/javascript" th:src="@{/vendor/purecounter/purecounter_vanilla.js}"></script>
  <script type="text/javascript" th:src="@{/vendor/glightbox/js/glightbox.min.js}"></script>
  <script type="text/javascript" th:src="@{/vendor/swiper/swiper-bundle.min.js}"></script>
  <script type="text/javascript" th:src="@{/vendor/imagesloaded/imagesloaded.pkgd.min.js}"></script>
  <script type="text/javascript" th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}"></script>

  <!-- Main JS File -->
  <script type="text/javascript" th:src="@{/js/main.js}"></script>

</body>

</html>